body {
    background-color: #f1f1f1;;
}
/* Set height of the grid so .sidenav can be 100% (adjust if needed) */
.row.content { 
    height: auto;
}
    
/* Set gray background color and 100% height */
.sidenav {
    background-color: #f1f1f1;
    height: auto;
}
    
/* Set black background color, white text and some padding */
footer {
    background-color: #555;
    color: white;
    padding: 15px;
}

.col-sm-9 {
    background-color: white;
}

h3 a {
    color: black;
    font-weight: bold;
    text-decoration: none;
}

h3 a:hover {
    color: black;
    text-decoration: none;
}

/* On small screens, set height to 'auto' for sidenav and grid */
@media screen and (max-width: 767px) {
    .sidenav {
        height: auto;
        padding: 15px;
    }
    .row.content {
        height: auto;
    } 
}

.mainbutton {
    text-align: right;
}

.hr-special-style {
    border-color: black;
}